*{
  box-sizing: border-box;
}
body{
  background-color:#c5d5cb;
}
.status h1 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin-top: 5px;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
  }
  .statushead {
    text-align: center;
  }

  .status_box{
    height: 120px;
    width: 50rem;
    text-align: center;
    border: 2px solid blue;
    padding: 20px;
    
    margin-left: 340px;
   justify-content: space-between;
   background-color:#f1f6fe ;
  }

  input[type="button"]{
    background-color:#49c1a2;
    color: white;
    margin: 30px;
    width: 100px;
    height: 30px;
    border: 2px solid #106eea;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight:50px;
    font-size: large;
    border-radius: 50px;
  }

  input[type="button"]:hover{
   
    background-color: #c5d5cb;
  }


  .backtohome {
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 0.1;
    width: 150px;
    border: 2px solid black;
    margin-right: 1%;
    float: right;
    margin-top: 25%;
    background-color: #49c1a2;
    padding: 3px;
    
  }
  .backtohome a{
    text-decoration: none;
    color: white;
  }
  .backtohome a:hover{
    color: #106eea;
  }

  label {
    font-weight: bold;
    font-size: large;
  }
  .comment{
   text-align: center;
   margin-bottom: 0;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
   font-size: large;
   
  }

  .footer{
    background-color: #c5d5cb;
  }
  
  